name: Unit Test

on:
  # ref: https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#pull_request
  pull_request:
    types: [opened, reopened, synchronize]
  # ref: https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#push
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'

jobs:
  test:
    timeout-minutes: 30
    runs-on: macos-latest
    steps:
      - name: 'Git Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: 'Install Flutter'
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'
          # disable cache, ref: https://github.com/subosito/flutter-action/issues/350
          cache: false

      - name: 'Install Melos'
        run: flutter pub global activate melos 6.2.0

      - name: 'Install Cobertura'
        run: dart pub global activate cobertura

      - name: 'Install Lcov'
        run: brew install lcov

      - name: 'Bootstrap Workspace'
        run: melos bootstrap --verbose

      - name: 'Run Merged Code Coverage'
        run: melos coverage:merged

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/merged.cobertura.xml