name: Unit Test on Pull Request

on: [pull_request]

jobs:
  test:
    timeout-minutes: 30
    runs-on: macos-latest
    steps:
      - name: 'Git Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: 'Install Flutter'
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'
          cache: true

      - name: 'Install Melos'
        run: flutter pub global activate melos 6.2.0

      - name: 'Bootstrap Workspace'
        run: melos bootstrap --verbose

      - name: 'Run Test'
        run: melos test